body {
    .no-border {
        border: none !important;
    }

    .no-shadow {
        box-shadow: none !important;
    }

    .hidden{
        display: none;
    }

    #editorUsingStatement{
        width: 100%;
        height: 100px;
    }
}
